//== Colors
$white: #ffffff;
$almost-white: #fafafa;
$light: #e5e5e5;
$blue: #367bf6;
$primary-text: #353a3f;
$nav-text: #6e757c;
$secondary-text: #222529;
$primary-color: #367bf6;
$secondary-color: #6e757c;
// Font Size
$font8: 8px;
$font9: 9px;
$font10: 10px;
$font11: 11px;
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font17: 17px;
$font18: 18px;
$font19: 19px;
$font20: 20px;
$font21: 21px;
$font22: 22px;
$font23: 23px;
$font24: 24px;
$font25: 25px;
$font26: 26px;
$font32: 32px;

// font weight

$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

//== Typography
$font-family-Inter-Regular: InterRegular, Helvetica Neue, Arial;
$font-family-Inter-bold: InterBold, Helvetica Neue, Arial;
$font-family-Inter-medium: InterMediumm, Helvetica Neue, Arial;
